[submodule "friendlychat"]
	path = friendlychat
	url = https://github.com/firebase/friendlychat-android
[submodule "android-data-binding"]
	path = android-data-binding
	url = https://github.com/googlecodelabs/android-databinding
[submodule "jetpack-navigation"]
	path = jetpack-navigation
	url = https://github.com/googlecodelabs/android-navigation
